<div class="container mt-4">
  <div class="d-flex justify-content-end mb-3">
    <button
      *ngIf="todoService.hasSelectedTodos()"
      (click)="deleteSelected()"
      class="btn btn-danger"
      aria-label="Delete Selected Todos"
      title="Delete Selected Todos"
    >
      <span class="position-relative">
        <i class="fas fa-trash-alt"></i>
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white"
        >
          {{ todoService.getSelectedCount() }}
          <span class="visually-hidden">selected items</span>
        </span>
      </span>
    </button>
    <button
      (click)="navigateToAddTodo()"
      class="btn btn-primary ms-2"
      aria-label="Add New Todo"
      title="Add New Todo"
    >
      <i class="fas fa-plus"></i>
    </button>
  </div>

  <div>
    @if (todos.length === 0) {
      <p class="alert alert-info">You have nothing to do?</p>
    } @else {
      <div class="list-group">
        @for (todo of todos; track todo.id) {
          <app-todo-item [todo]="todo"></app-todo-item>
        }
      </div>
    }
  </div>
</div>
